.faq-container {
 
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.faq-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #e6dee4;
}

.faq-question:hover {
  background-color: #f0f0f0;
}

.faq-question.active {
  background-color: #f0f0f0;
}

.question-text {
  flex: 1;
  font-size: 16px;
  color: #333;
}

.indicator {
  margin-left: auto;
  font-size: 18px;
  color: #777;
}

.faq-answer {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #555;
}
