/* Price section */
.price-section {
  max-width: 1920px;
  height: auto;
}

/* Popular course area */
.popular-course-area .container-fluid {
  padding-left: 21%;
  padding-right: 0;
}

/* Responsive styles for popular course area */
@media (min-width: 1921px) {
  .popular-course-area .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
  }
}

@media (max-width: 1665px) {
  .popular-course-area .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
  }
}

@media (max-width: 1199px) {
  .popular-course-area .container-fluid {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .popular-course-area .container-fluid {
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .popular-course-area .container-fluid {
    max-width: 720px;
  }
}

.popular-course-area .section-title {
  margin-right: 0;
}

.popular-course-area .owl-stage {
  padding-left: 0 !important;
}

.popular-course-area .owl-controls {
  position: absolute;
  top: -95px;
  right: 27%;
}

@media (max-width: 991px) {
  .popular-course-area .owl-controls {
    display: none;
  }
}

.popular-course-area .owl-nav {
  display: -ms-flexbox;
  display: flex;
}

.popular-course-area .owl-nav .owl-prev {
  padding-right: 20px;
}

.popular-course-area .owl-nav .owl-prev img,
.popular-course-area .owl-nav .owl-next img {
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popular-course-area .owl-nav .owl-prev img:hover,
.popular-course-area .owl-nav .owl-next img:hover {
  opacity: 1;
}

/* Single popular course */
.single-popular-course .details {
  padding: 40px 30px;
  background: #f9f9fb;
}

.single-popular-course .card-img {
  overflow: hidden;
}

.single-popular-course .card-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-popular-course .name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.single-popular-course .value {
  color: #222222;
  font-weight: 700;
}

.single-popular-course p {
  margin-bottom: 0;
}

.single-popular-course h4 {
  line-height: 27px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-popular-course a {
  color: #222222;
}

.single-popular-course .bottom .list li {
  display: inline-block;
}

.single-popular-course .bottom .list li a {
  color: #ebb35e;
  font-size: 14px;
}

.single-popular-course .bottom p {
  font-size: 13px;
  font-weight: 500;
}

.single-popular-course:hover {
  cursor: pointer;
}

.single-popular-course:hover .card-img img {
  cursor: pointer;
  transform: scale(1.05);
}

.single-popular-course:hover h4 {
  color: #7c32ff;
}

/* Trial button */
#trial {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00c9ff, #92fe9d) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

#trial:hover {
  font-weight: 500;
  color: #aa8d63;
}

/* Quote button */
#quote {
  font-weight: 500;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background: linear-gradient(to right, #00c9ff, #92fe9d);
  color: white;
  border: none;
}

#quote:hover {
  font-weight: 500;
  background: #005274;
  color: #aa8d63;
}
